{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm my-5 text-start">
            <div class="card-header bg-dark text-white py-3 text-center">
                <h4 class="m-0 fw-bold">Вход в систему</h4>
            </div>
            <div class="card-body p-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Электронная почта</label>
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Пароль</label>
                        {{ form.password }}
                    </div>
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-success fw-semibold">Войти в личный кабинет</button>
                    </div>
                </form>
                <hr class="my-4">
                <div class="d-flex justify-content-between small">
                    <a href="{% url 'users:register' %}" class="text-decoration-none">Создать аккаунт</a>
                    <a href="{% url 'users:password_recovery' %}" class="text-danger text-decoration-none">Забыли пароль?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
